@import '../../node_modules/bootstrap/scss/bootstrap';

$fa-font-path: '../webfonts';

@import '../../lib/fontawesome/fontawesome';
@import '../../lib/fontawesome/fa-regular';

body {
  background-color: #eee;
}

h1 {
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.todo-list {
  background-color: #fff;
  padding: 20px 20px 10px;
  margin-top: 30px;
  
  li {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    
    &:last-child { 
      border-bottom: none;
    }
  }
}

.todo-footer {
  background-color:  #f4fce8;
  margin: 0 -20px -10px;
  padding: 10px 20px;
}

.done-items li {
  
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: line-through;

  &:last-child {
    border-bottom: none;
  }
}