<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
  <style>
    .avatar {
      text-align: center;
      border-radius: 50%;
      border: 1px solid #5e5e5e;
      overflow: hidden;
      background-color: #000;
      
      width: 100px; height: 100px;
    }
  </style>
</head>

<body>
  <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <div class="col-12">
                      <h2>Real-world React from the Ground Up</h2>
                    </div>
                    <div class="col-12 text-lowercase">
                      <small>
                        Tags: <em>Design (UI/UX/CSS), JavaScript, Precompiler</em>
                      </small>
                    </div>
                    <div class="col-12 pt-2">
                      Learning React can get awfully complicated. Flux, Redux, server side rendering, React Native, higher order components,
                      functions as child components, CSS in JS, and more. Let's simplify the equation: build a real world application using
                      React and Redux, learning patterns and practices to make reusable, composable components as we go. Whether you are
                      brand new to React or have some experience with it, you should walk away with a solid understanding of how to compose
                      React applications.
                    </div>
                  </div>
                  
                </div>
                
                <div class="col-4">
                  <div class="row mt-2">
                    <div class="col-12">
                      Room(s): Zambezi
                    </div>
                    <div class="col-12">
                      <h3>Speaker(s):</h3>
                    </div>
                    <div class="col-12">
                      <div class="row mt-4">
                        <div class="col">
                          <div class="avatar"></div>
                        </div>
                        <div class="col">
                          <div class="row">
                            <div class="col-12">
                              Nathan Loding
                            </div>
                            <div class="col-12">
                              <div class="row">
                                <div class="col">
                                  <h2>
                                    <i class="fab fa-twitter-square"></i>
                                  </h2>
                                </div>
                                <div class="col">
                                  <h2>
                                    <i class="fab fa-facebook-square"></i>
                                  </h2>
                                </div>
                                <div class="col">
                                  <h2>
                                    <i class="fab fa-github-square"></i>
                                  </h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>

</html>